
// links
a {
	color: royalblue;

	&:visited {
	color: purple;
	}

	&:hover,
	&:focus,
	&:active {
		color: midnightblue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//menus
