
// links
a {
	color: $coral;
	background-color: #dfe8de;
	font-weight: 600;

	&:visited {
	color: $coral;
	}

	&:hover,
	&:focus,
	&:active {
		color: $blue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//menus
